/* --- FONT IMPORTS --- */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

/* --- RESETS --- */
* {
    margin: 0;
    padding: 0;
}

/* --- GLOBAL COLORS --- */
:root {
    --primary: #ff9a48;
    --secondary: #ffb9dd;
    --dark-gradient: linear-gradient(0deg,#000,#0000 60%);
}

a, a:visited {
    color: initial;
    text-decoration: none;
}

/* --- GLOBAL STYLING --- */
body {
    font-family: 'Inconsolata', monospace;
}